{% extends 'trainings/base.html' %}
{% block content %}
    <div class="row"></div>
    <div class="col-md-7">
        <div class="mx-auto d-flex justify-content-center my-3">
            <a class="btn btn-outline-info mr-4 w-25"
               href="{% url 'trainings-runner' %}?date={{ previous_week|date:'Y-m-d' }}">Poprzedni
                tydzień</a>
            <a class="btn btn-outline-info mr-4 w-25" href="{% url 'trainings-runner' %}?date={{ today|date:'Y-m-d' }}">Dzisiaj</a>
            <a class="btn btn-outline-info w-25" href="{% url 'trainings-runner' %}?date={{ next_week|date:'Y-m-d' }}">Następny
                tydzień</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% for training in object_list %}
                <div class="border rounded mb-2 p-1 row{% if training.pk is None %} pending{% endif %} {% if training.date == object.date %}
                border-info
                {% endif %}">
                    <div class="col-md-3 my-auto">{{ training.date|date:'d E Y - l' }}</div>
                    {% if training.pk is None %}
                        <div class="col-md-6 my-auto">Brak treningu</div>
                    {% else %}
                        <div class="col-md-6 my-auto">{{ training.description|truncatechars:30 }}</div>
                        <a class="col-md-3 btn btn-outline-info my-auto"
                           href="{% url 'trainings-entry-runner' date=training.date|date:'Y-m-d' %}">Szczegóły</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-5">
            {% if object %}
                <div class="border border-info rounded">
                    <table class="table">
                        <tr>
                            <td class="border-0">Data</td>
                            <td class="font-weight-bold border-0">{{ object.date|date:'j E Y - l' }}</td>
                        </tr>
                        <tr>
                            <td>Opis</td>
                            <td>{{ object.description|linebreaksbr }}</td>
                        </tr>
                        <tr>
                            <td>Wykonanie</td>
                            <td>{% if object.execution is not None %}
                                {{ object.execution|linebreaksbr }}
                            {% else %}
                                <i>brak</i>
                            {% endif %}</td>
                        </tr>
                    </table>
                    <a class="btn btn-outline-info m-4"
                       href="{% url 'trainings-entry-edit-runner' date=object.date|date:'Y-m-d' %}">Opisz trening</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}