{% extends 'trainings/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <a class="btn btn-outline-info mb-2" href="{{ object.get_absolute_url }}">Powrót do treningu</a>
    <form method="post" class="border border-outline-primary rounded p-2">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-2">Edytuj trening</legend>
            <table class="table">
                <tr>
                    <td>Zawodnik</td>
                    <td>{{ object.relation.displayed_name }}</td>
                </tr>
                <tr>
                    <td>Data</td>
                    <td>{{ object.date|date:'j E Y - l' }}</td>
                </tr>
            </table>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info w-100" type="submit">Zapisz</button>
        </div>
    </form>
{% endblock content %}